# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# =========================
# Android
# =========================
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# =========================
# iOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id

# =========================
# Windows
# =========================
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.*
windows/flutter/*.dll
windows/flutter/*.pdb

# =========================
# macOS
# =========================
macos/Flutter/ephemeral/
macos/Flutter/generated_plugin_registrant.*

# =========================
# Linux
# =========================
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.*

# =========================
# Web
# =========================
web/.dart_tool/

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/
*.iml

# =========================
# Logs / Misc
# =========================
*.log
*.tmp
*.swp
.DS_Store

# =========================
# Coverage
# =========================
coverage/

# =========================
# APK / IPA / Build Outputs
# =========================
*.apk
*.aab
*.ipa

# =========================
# Others
# =========================
*.class
*.pyc
.build/
.history/
.svn/